$border: 1px solid #ccc;

.card {
    padding: 1 rem;
    border-radius: 50px;
    border: 10px;
    margin-top: 1rem;
    border: $border;

    h2{
        text-align: center;
        color: blueviolet;
    }
}